ion-content {
  --background: none;
  background-image: url("/assets/background/90689.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

}

ion-toolbar {
  /* override Ionic’s default toolbar background */
  // --ion-toolbar-background-color: transparent !important;
    --background: rgb(255, 241, 224) !important;
  
  // --ion-color-base: transparent !important;
  --padding-top: 30px;
  --padding-bottom: 5px;

  // --background: transparent;
  --color: rgb(0, 0, 0);
  --padding: 1px;
}
ion-item{
  --background: rgb(255, 241, 224) !important;
  --color: rgb(0, 0, 0);
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-start: 5px;
  --padding-end: 0px;
}