<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/"></ion-back-button>
    </ion-buttons>
    <ion-title>WiFi Fingerprinting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- <ion-item>
    <ion-label position="floating">Room Name</ion-label>
    <ion-input [(ngModel)]="roomName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Floor</ion-label>
    <ion-input type="number" [(ngModel)]="f"></ion-input>
  </ion-item> -->

  <!-- <ion-item>
    <ion-label position="floating">X Coordinate</ion-label>
    <ion-input type="number" [(ngModel)]="x"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Y Coordinate</ion-label>
    <ion-input type="number" [(ngModel)]="y"></ion-input>
  </ion-item> -->
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-item lines="none">
          <ion-label position="stacked">Room Name</ion-label>
          <ion-input [(ngModel)]="roomName"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item lines="none">
          <ion-label position="stacked">Floor</ion-label>
          <ion-input type="number" [(ngModel)]="f"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-item lines="none">
          <ion-label position="stacked">X Coordinate (m)</ion-label>
          <ion-input type="number" [(ngModel)]="x"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item lines="none">
          <ion-label position="stacked">Y Coordinate (m)</ion-label>
          <ion-input type="number" [(ngModel)]="y"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button expand="block" id="open-scan" (click)="openMapPicker()">
    Pick on floor-plan map
  </ion-button>

  <!-- <ion-item>
    <ion-label position="floating">Total Scans</ion-label>
    <ion-input type="number" [(ngModel)]="totalScans"></ion-input>
  </ion-item> -->

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-item lines="none">
          <ion-label position="stacked">Total Scans</ion-label>
          <ion-input type="number" [(ngModel)]="totalScans"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item lines="none">
          <ion-label position="stacked">Scan Delay (ms)</ion-label>
          <ion-input type="number" [(ngModel)]="scanDelay"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-grid>
    <ion-row>
      <ion-col size="6">
        
        <ion-button 
          expand="block" 
          [color]="isScanning ? 'danger' : 'primary'"
          (click)="isScanning ? stopScanning() : startScanning()">
          {{ isScanning ? 'Stop Scanning' : (isScanning === false ? 'Start Scanning' : '...') }}
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button 
          expand="block" 
          color="success" 
          (click)="saveJsonToFileDownloads()" 
          [disabled]="isScanning">
          Save Scan Results 
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <!-- Show “Stop” if we’re scanning, otherwise “Start” -->
  <ion-button
    expand="block"
    [color]="isScanning ? 'danger' : 'primary'"
    (click)="isScanning ? stopScanning() : startScanning()"
  >
    {{ isScanning ? 'Stop Scanning' : (isScanning === false ? 'Start Scanning' :
    '...') }}
  </ion-button>

  <!-- 
  <ion-item>
    <ion-label position="floating">Scan Delay</ion-label>
    <ion-input type="number" [(ngModel)]="scanDelay"></ion-input>
  </ion-item> -->

  <!-- <ion-button expand="block" (click)="startScanning()" [disabled]="isScanning">
    {{ isScanning ? 'Scanning...' : 'Start Scanning at This Point' }}
  </ion-button>
  <ion-button expand="block" color="success" (click)="saveJsonToFileDownloads()" [disabled]="isScanning">
    Save Dataset to Downloads Folder
  </ion-button> -->

  <!-- <ion-button expand="block" color="success" (click)="downloadJSON()" [disabled]="isScanning">
    Download Dataset
  </ion-button> -->

  <!-- Live scan progress -->
  <!-- <ion-list *ngIf="scanResultsList.length > 0">
      <ion-item *ngFor="let scan of scanResultsList; let i = index">
        <ion-label>
          <h2>Scan {{i + 1}}/{{totalScans}}</h2>
          <p>Found {{scan.wifi.length}} networks</p>
        </ion-label>
      </ion-item>
    </ion-list> -->
  <ion-item
    ><ion-progress-bar
      *ngIf="isScanning"
      [value]="scanCount / totalScans"
      color="primary"
      buffer="1.0"
    >
    </ion-progress-bar>
    <ion-note slot="end"> {{ scanCount }}/{{ totalScans }} </ion-note>
  </ion-item>

  <ion-item *ngFor="let scan of scanResultsList; let i = index">
    <ion-label>
      <h2>Scan {{i + 1}}/{{totalScans}}</h2>
      <p>Found {{scan.wifi.length}} networks</p>
      <!-- <div *ngFor="let net of scan.wifi">
        <small>{{net.ssid}} ({{net.rssi}} dBm)</small><br />
      </div> -->
    </ion-label>
  </ion-item>

  <!-- map-picker modal -->
  <ion-modal
    #scanModal
    [isOpen]="mapPickerOpen"
     keepContentsMounted
    (ionModalDidPresent)="initMapPicker()"
    (didDismiss)="mapPickerOpen = false"
  >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Tap to choose point</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeMapPicker()">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div id="mapPicker" style="height: 550px"></div>
        <ion-item lines="none">
          <ion-label>Selected X,Y:</ion-label>
          <!-- <ion-note slot="end"
            >{{ x | number:'1.2-2' }}, {{ y | number:'1.2-2' }}</ion-note
          > -->
        </ion-item>

          <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-item lines="none">
          <ion-label position="stacked">X Coordinate (m)</ion-label>
          <ion-input type="number" [(ngModel)]="x"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item lines="none">
          <ion-label position="stacked">Y Coordinate (m)</ion-label>
          <ion-input type="number" [(ngModel)]="y"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
