/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";


// ion-app {
//   /* only needed if you want the whole app inset,
//      but Ionic 6+ usually handles this automatically */
//   padding-top: env(safe-area-inset-top);
// }

ion-header {
  /* this adds exactly the status-bar height on iOS/Android */
  padding-top: env(safe-area-inset-top);
  // background: var(--ion-color-primary);
}


.leaflet-marker-dot {
  width: 12px;
  height: 12px;
  background: red;
  border-radius: 50%;
  pointer-events: none;
  /* optional border to stand out on the grid */
  border: 1px solid white;
  box-sizing: border-box;
}

.leaflet-marker-dot1 {
  width: 12px;
  height: 12px;
  background: rgb(11, 173, 106);
  border-radius: 50%;
  pointer-events: none;
  /* optional border to stand out on the grid */
  border: 1px solid white;
  box-sizing: border-box;
}

.leaflet-marker-dot2 {
  width: 12px;
  height: 12px;
  background: rgb(1, 54, 168);
  border-radius: 50%;
  pointer-events: none;
  /* optional border to stand out on the grid */
  border: 1px solid white;
  box-sizing: border-box;
}

#map {
  width: 100%;
  height: calc(100% - 56px); /* 56px for header + ~56px for grid, adjust if needed */
}

/* Red dot (current) */
.leaflet-marker-dot {
  width: 12px;
  height: 12px;
  background-color: red;
  border-radius: 50%;
  opacity: 0.9;
  margin-left: -6px;
  margin-top: -6px;
}

/* Green dot (target) */
.leaflet-marker-dot-green {
  width: 12px;
  height: 12px;
  background-color: limegreen;
  border-radius: 50%;
  opacity: 0.9;
  margin-left: -6px;
  margin-top: -6px;
}