<ion-header  [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center" >Indoor Localization and Navigation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">


<!-- 
  <ion-button [routerLink]="['/localize']">Localization</ion-button>

  <ion-button [routerLink]="['/scan']">Collect Data</ion-button> -->
<ion-card  [routerLink]="['/scan']">
  <img  class="my-card-img"
  src="/assets/background/wifiscan.png" />
  <ion-card-header>
    <ion-card-title>Wi-Fi Scanning</ion-card-title>
    <ion-card-subtitle>Collect Wi-Fi Fingerprinting Data</ion-card-subtitle>
  </ion-card-header>

  <!-- <ion-card-content>
    Here's a small text description for the card content. Nothing more, nothing less.
  </ion-card-content> -->
</ion-card>

<ion-card  [routerLink]="['/localize']">
  <img class="my-card-img" 
  src="/assets/background/map.png" />
  <ion-card-header>
    <ion-card-title>Wi-Fi Localization & Navigation</ion-card-title>
    <ion-card-subtitle>Navigate to any location on the map</ion-card-subtitle>
  </ion-card-header>

</ion-card>




</ion-content>
